@import "../../../assets/scss";

.content {
    display: flex;
    flex-direction: column;
    gap: px2vw(27);
    width: 75%;

    .title {
        color: var(--dark_blue);
    }

    .description {
        color: #c0cad2;
    }

    .save {
        align-self: flex-start;
        background: var(--dark_blue);
        color: var(--white);
        border-color: transparent;
        transition: 0.3s ease-in-out;

        &:hover {
            background: none;
        }
    }
}
